@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

@font-face {
  font-family: 'YUniverse-B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');

@font-face {
  font-family: 'GenKJwajinOTF-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GenKJwajinOTF-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 공동 */
* {box-sizing: border-box; margin: 0; padding: 0; scroll-behavior: smooth;}
a{text-decoration: none; color: white; font-size: 40px; transition: 1s;}
ul,li,ol{list-style: none;}
body {font-family: Verdana, sans-serif;  background-color: white; }
.mySlides {display: none; height: 1000px; }
.mySlides img{height: 100%;}
img {vertical-align: middle;  }
img{width: 100%; height: 100%;}
h1{font-family: 'YUniverse-B';}
h2{font-family: 'YUniverse-B';}
p{font-family: 'YUniverse-B';}

/* 메뉴바  */
.change1{transform: translate3d(0px, 6.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg); transform-style: preserve-3d;  }
.change2 {transform: translate3d(0px, 6.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg); transform-style: preserve-3d; margin-top: 1px; }
html{overscroll-behavior: contain;}