

#menu{width: 100%; height: 2000px; background-color: black; z-index:1; position: fixed; display:none;}
  .menuText{width: 95%; height: 40%; margin: 0 auto; overflow: hidden; background-color:  black; display: flex; flex-direction: column;}
  .menuTextFlex{width: 100%; height: 80px; display: flex; flex-direction: row; color: white;}
  .menuTextFlex:first-child{margin-top: 300px;}
  .menuTextFlex > div{padding: 10px; margin-bottom: 20px; margin-left: -150px; opacity: 0.3;}
  .menuTextFlex > div:nth-child(1){width: 20%; height: 100%;transition: 1s; font-size: 20px; line-height: 55px; }
  .menuTextFlex > div:nth-child(1) p{opacity: 0.5;}
  .menuTextFlex > div:nth-child(2){width: 0%; height: 100%; }
  .menuTextFlex > div:nth-child(3){ width: 40%; height: 100%; transition: 1s;}
  a{font-size: 25px; line-height: 50px;}
  
  .menuTextFlexLine{background-color: white; height: 1px;width: 100%; margin-top: 22px;}
  
  
  .logo{width: 20%; height: 80px; position: absolute; z-index: 1; margin-left:15px ; margin-top: 190px; }
  
  #menubar{
    width: 100%; height: 80px;   background-color: black; position: fixed;float: left; right: 0%; z-index: 1; border: rgb(167, 164, 164) solid 0.5px; opacity: 0.6; display: flex; flex-direction:row;
  }
  .menubarFlex:nth-child(1) {width: 10%; height: 100%; display: flex; flex-direction: row;}
  .menubarFlex:nth-child(2) {width: 60%; height: 10%0;}
  .menubarFlex:nth-child(3) {width: 10%; height: 100%; display: none;}
  .menubarFlex:nth-child(4) {width: 10%; height: 100%; display: none;}
  .menubarFlex:nth-child(5) {width: 10%; height: 100%; display: none;}
  .menubarFlex img{width: 30%; height: 30%; margin-left: 29px; margin-top: 25px;}
  .menubarFlex:nth-child(3):hover{opacity: 1; background-color: white; opacity: 1;cursor: pointer;} 
  .menubarFlex:nth-child(4):hover{opacity: 1; background-color: white; cursor: pointer;}
  .menubarFlex:nth-child(5):hover{opacity: 1; background-color: white; cursor: pointer;}
  
  .menubarFlex1Flex1{width: 20%;}
  .menubarFlex1Flex2{width: 60%; padding: 5px; margin-top: 25px;}
  .menubarFlex1Flex3{width: 20%;}
  
  .menubarFlex1Text1{width: 10px; height:1px ; background-color: white;}
  .menubarFlex1Text2{width: 5px; height:1px ; background-color: white;}
  
  .menubarFlex1Flex2 > div:nth-child(1){width: 45px; height: 2px; background-color: white; transition: 1s;}
  .menubarFlex1Flex2 > div:nth-child(2){width: 30px; height: 2px; background-color: white; margin-top: 17px; transition: 1s;}


  /* @media(min-width:1024px){ */

  #menubar{
    width: 100px; height: 100%;   background-color: black; position: fixed; left: auto; right: 0%; z-index: 1; border: rgb(167, 164, 164) solid 0.5px; opacity: 0.6; display: flex; flex-direction:column;
  }
  .menubarFlex:nth-child(1) {width: 100%; height: 10%; display: flex; flex-direction: row;}
  .menubarFlex:nth-child(2) {width: 100%; height: 40%;}
  .menubarFlex:nth-child(3) {width: 100%; height: 10%;}
  .menubarFlex:nth-child(4) {width: 100%; height: 10%;}
  .menubarFlex:nth-child(5) {width: 100%; height: 10%;}
  .menubarFlex img{width: 30%; height: 30%; margin-left: 33px; margin-top: 35px;}
  .menubarFlex:nth-child(3):hover{opacity: 1; background-color: white; opacity: 1;cursor: pointer;} 
  .menubarFlex:nth-child(4):hover{opacity: 1; background-color: white; cursor: pointer;}
  .menubarFlex:nth-child(5):hover{opacity: 1; background-color: white; cursor: pointer;}
  
  .menubarFlex1Flex1{width: 20%;}
  .menubarFlex1Flex2{width: 60%; padding: 5px; margin-top: 35px;}
  .menubarFlex1Flex3{width: 20%;}
  
  .menubarFlex1Text1{width: 10px; height:1px ; background-color: white;}
  .menubarFlex1Text2{width: 5px; height:1px ; background-color: white;}
  
  .menubarFlex1Flex2 > div:nth-child(1){width: 45px; height: 2px; background-color: white; transition: 1s;}
  .menubarFlex1Flex2 > div:nth-child(2){width: 30px; height: 2px; background-color: white; margin-top: 17px; transition: 1s;}


  #subline{display: flex; flex-direction: column; background-color: black; width: 100%; height: 100px; }
  #subline div:nth-child(1){height: 50%; width: 0%;transition: 1s; border-bottom: 0.1px solid white; margin: 0 auto;}
  #subline div:nth-child(2){height: 50%; width: 85%; margin: 0 auto;}

  #container2{
    display: flex;
    width: 100%;
    height: 700px;
    background-color: black;
  }
  .container2flex:nth-child(1){width: 50%; height: 100%;}
  .container2flex:nth-child(2){width: 50%; height: 100%; color: white; background-color: black; display: flex; flex-direction: column;}
  
  .container2flex:nth-child(1) div{ width: 82%; margin: 100px; background-color: black;}
  .container2flex:nth-child(1) div img{padding-right: 50px;}
  .container2flex:nth-child(2) div:nth-child(1){width: 100%; height: 15%;  background-color: black;} 
  .container2flex:nth-child(2) div:nth-child(2){width: 70%; height: 30%;  background-color: black;} 
  .container2flex:nth-child(2) div:nth-child(3){width: 70%; height: 50%; }

  
  #container3{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: black;
    flex-direction: row;
  }

  .container3flex:nth-child(2){width: 50%; height: 100%;}
  .container3flex:nth-child(1){width: 50%; height: 100%; color: white; background-color: black; display: flex; flex-direction: column;}
  .container3flex:nth-child(2)>div{width: 85%; }
  
  .container3flex:nth-child(1) div:nth-child(1){width: 100%; height: 5%;  background-color: black;} 
  .container3flex:nth-child(1) div:nth-child(2){width: 100%; height: 45%;  background-color: black;} 
  /* .container3flex:nth-child(1) div:nth-child(3){width: 100%; height: 40%;  background-color: black;}  */
  
  .container3flexText{padding: 100px;}
/* } */




/* footer */
footer{background-color: rgb(1, 77, 163); width: 100%; height: 700px; display: flex; flex-direction: row;}
.footerFlex1{width: 50%; height: 100%; display: flex; flex-direction: column;}
.footerFlex1 > div:nth-child(1){width: 100%;height: 50%;}

.footerFlex1 > div:nth-child(2){width: 100%;height: 50%; padding:0 50px 0 50px;  margin-bottom: 30px; color: rgb(226, 224, 224); line-height: 25px;}

.footerFlex2{width: 50%; height: 100%; display: flex; flex-direction: column;}
.footerFlex2 > div:nth-child(1){width: 100%;height: 50%;}
.footerFlex2 > div:nth-child(2){width: 100%;height: 50%; }





.footerFlex2 > div > ul{float: left; padding: 30px; color: rgb(226, 224, 224); cursor: pointer; line-height: 35px;}
.footerlogo{width: 25%; height: 55%; padding: 30px; margin: 70px 0 0 100px; }